
.blue{
	border: 4px solid #1D2475;
  border-width: thick;
  background-color: #99CCFF;
  padding: 5px;
  margin-top: 10px;
  text-align: justify;
  margin-right: 0%;
  overflow: hidden;
  border-radius: 15px;
	margin-left: 185px;
}

#green{
	border: 10px solid white;
  border-width: thick;
  background-color: white;
}

#red{
  text-align: right;
  background-color: #1D2475;
  color: white;
}

#orange{
  font-size: 14pt;
  color: #CCCCCC;
}

.purple{
  border-bottom: 2px dashed blue;
}

body{
  margin-left: 10%;
  margin-right: 10%;
  background-image: url("http://selab.hanyang.ac.kr/courses/cse326/2016/labs/lab4_2016/images/3/blueTextureBG.jpg");
  background-repeat: repeat;
}

img{
  float: right;
}

#sidebar{
  border: 10px solid #1D2475;
  border-width: thick;
  float: left;
  width: 150px;
  background-color: #3366CC;
  padding: 10px;
  border-radius: 15px;
  margin-right: 0.5%;
	margin-top: 0.5%;
}

a > img{
	float: left;
}

body * * *:not(ul):hover{
	background-color: #A6CE39;
}
